@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Rajdhani:wght@700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background: #E5E5E5;
    overflow-x: hidden;
}
.wrap{
    max-width: 1170px;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #252A34;
    cursor: pointer;
    transition: .3s;
}
.logo__white{
    color: #fff;
}
.logo:hover{
    transform: scale(1.2);
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol{
    list-style: none;
}
.button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

/* Header */
.header{
    width: 100%;
    padding: 31px 0 28px 0;
    margin-bottom: 73px;
}
.header .wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header .wrap .header__burger{
    display: none;
}

.header .wrap .logo__red span{
    color: #FF2E63;
}

.header .wrap .nav .nav__list{
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #252A34;
}
.header .wrap .nav .nav__list .nav__item{
    margin-left: 30px;
    cursor: pointer;
    transition: .3s;
}
.header .wrap .nav .nav__list .nav__item:hover{
    color:#FF2E63;
}

.header .wrap .header__buttons .login{
    background: transparent;
    color: #FF2E63;
    padding: 8px 26px 10px 23px;
}
.header .wrap .header__buttons .login:hover{
    background: #FF2E63;
    color: #fff;
}

.header .wrap .header__buttons .register{    
    padding: 8px 23px 10px 23px;
    background:#FF2E63;
    color: #fff;
}
.header .wrap .header__buttons .register:hover{
    background: #ad2043;
}

/* Hero */

.hero{
    margin-bottom: 96px;
}
.hero .wrap{
    display: flex;
}

.hero__top{
    padding-top: 20px;
    max-width: 430px;
}

.hero__top h1{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #343434;
    margin-bottom: 35px;
}
.hero__top h1 span{
    color: #FF2E63;
}
.hero__top .enter{
    padding: 8px 20px 10px 21px;
    background:#346CD9;
    color: #fff;
}
.hero__top .enter:hover{
    background: #244b97;
}


.hero__bottom .container{
    margin-right: -55px;
    position: relative;
    z-index: 2;
}


.hero__bottom .container img{
    max-width: 100%;
}

.hero__bottom .container::after{
    content: '';
    position: absolute;
    background: linear-gradient(131.47deg, rgba(52, 108, 217, 0) 13.96%, rgba(52, 108, 217, 0.25) 85.97%);
    border-radius: 50%;
    top: -25%;
    left: 35%;
    width: 53%;
    padding-bottom: 53%;
    z-index: -1;
}

/* Swiper */

.competitions{
    margin-bottom: 101px;
}

.competitions .wrap .competitions__title{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;

    color: #343434;
    margin-bottom: 31px;
}

.wrap .swiper-slide{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 270px;
    position: relative;
    overflow: hidden;
    background: #fff;
}

.wrap .swiper-slide .swiper__container img{
    transition: all .3s ease;
    height: 100%;
}

.wrap .swiper-slide .swiper__container:hover img{
    transform: scale(1.1);
}

.wrap .swiper__container{
    display: block;
    min-height: 160px;
    height: 160px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.wrap .swiper-slide .swiper__slide__text{
    padding: 21px 0 11px 20px;
}

.wrap .swiper-slide .swiper__slide__text .swiper__slide__title{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: #252A34;
    cursor: pointer;
    transition: .3s;
    display: inline-block;
}
.wrap .swiper-slide .swiper__slide__text .swiper__slide__title:hover{
    text-decoration: underline;
}

.wrap .swiper-slide .swiper__slide__text .swiper__slide__prices{
    display: flex;
    align-items: flex-start;
}

.wrap .swiper-slide .swiper__slide__text .swiper__slide__prices .swiper__slide__newprice{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;

    color: #FF2E63;
    margin: 0 7px 9px 0;
}

.wrap .swiper-slide .swiper__slide__text .swiper__slide__prices .swiper__slide__oldprice{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: line-through;

    color: #999999;
    padding-top: 9px;
}

.wrap .swiper-slide .swiper__slide__text .swiper__slide__description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #343434;
}

.wrap .swiper-slide .swiper__slide__text .swiper__slide__button{
    position: absolute;
    right: 0;
    bottom: 0;

    color: #fff;
    background: #346CD9;
    border-radius: 10px 0px;
    
    width: 40px;
    height: 40px;

    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}
.wrap .swiper-slide .swiper__slide__text .swiper__slide__button:hover{
    background:#244b97;
}

/* How it works */

.works{
    margin-bottom: 100px;
}

.works .wrap{
    text-align: center;
}

.works .wrap .works__title{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #343434;

    margin-bottom: 52px;
}

.works .wrap .works__instruction{
    display: flex;
    text-align: center;
    justify-content: start;
    gap: 12px;
}

.works .wrap .works__instruction .works__item{
    max-width: 250px;
}

.works .wrap .works__instruction .works__arrow {
    margin-top: 10px;
    font-size: 40px;
    color: #343434;
}

.works .wrap .works__instruction .works__item .works__img__container{
    min-height: 64px;
    margin-bottom: 26px;
}

.works .wrap .works__instruction .works__item .works__item__description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    
    color: #343434;
}

/* Respond */

.respond{
    background: #346CD91F;
    position: relative;
    margin-bottom: 100px;
}

.respond .swiper-respond .swiper-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    text-align: center;    
}
.respond .swiper-respond .swiper-wrapper:first-child{
    margin-left: 9.3%;
}

.respond .swiper-respond .swiper-wrapper .swiper-slide .respond__top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.respond .swiper-respond .swiper-wrapper .swiper-slide .respond__top .respond__top__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    max-width: 400px;

    color: #343434;
    margin-bottom: 30px;
}

.respond .swiper-respond .swiper-wrapper .swiper-slide .respond__top .respond__top__name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    text-align: center;
    text-transform: uppercase;

    color: #343434;
}

.respond .swiper-respond .swiper-wrapper .swiper-slide .respond__container{
    min-height: 400px;
    height: 400px;
}

.respond .swiper-respond .swiper-wrapper .swiper-slide .respond__container img{
    height: 100%;
}

.respond .swiper-respond .swiper-pagination{
    position: absolute;
    bottom: 14%;
    left: -21%;
}
.respond .swiper-respond .swiper-pagination-bullet{
    width: 13px;
    height: 13px;
    font-size: 20px;
    background-color: #FF2E63;
}

/* Winners */

.winners{
    margin-bottom: 110px;
}

.winners .winners__title{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;

    color: #343434;
    margin-bottom: 31px;
}

.winners .wrap .swiper__container{
    height: 200px;
}

.winners .wrap .swiper__slide__title{
    margin-bottom: 4px;
}

.footer{
    background-color: #346CD9;
    padding: 16px;
}

.footer .wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .wrap .nav__list{
    display: flex;
}

.footer .wrap .nav__list .nav__item{
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    margin-left: 30px;
    color:#fff;
    cursor: pointer;
    transition: .3s;
}

.footer .wrap .nav__list .nav__item:hover{
    transform: scale(1.1);
}

/* MEdia */

@media(max-width:1050px){
    .wrap{
        max-width: none;
    }
}